/* Grids
 * ---------------------------------------------------------------------*/

.column {
    margin-left:18px;
    display:block;
    float:left;
}
.colgroup {
    display:block;
    float:left;
}
.first {
    margin-left:0;
    clear:left;
}
.gutter {
    margin-left:18px;
}
.no-gutter {
    margin-left:0;
}
.align-left {
    float:left;
}
.align-right {
    float:right;
    text-align:right;
}
.leading {
    margin-bottom:18px;
}
.noleading {
    margin-bottom:0 !important;
}
.full {
    width:100%;
}
.width1 {
    width:108px;
}
.width2 {
    width:234px;
}
.width3 {
    width:360px;
}
.width4 {
    width:486px;
}
.width5 {
    width:612px;
}
.width6 {
    width:738px;
}
.width7 {
    width:864px;
}
.width8 {
    width: 990px;
}
