/* Tagclouds
---------------------------------------------------------------------*/

.tagcloud {
	text-align: justify;
}
.tagcloud a {
	border:0 none !important;
}
a.tag1 {
	font-size: 1em;
}
a.tag2{
	font-size: 1.1em;
}
a.tag3{
	font-size: 1.2em;
}
a.tag4{
	font-size: 1.4em;
}
a.tag5{
	font-size: 1.5em;
}
