<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='UTF-8' />
        {% block meta %}
        <meta name="description" content="Comprehensive Documentation and information about HTML.">
        <meta name="keywords" content="HTML, tags, commands">
        {% endblock meta %}
            <title>Lead Project Manager</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" />
        {% block css %}
        {% endblock css %}
    </head>
    <body id="index" class="home">
        <section id="wrapper">
            <header id="banner">
                {% block header %}
                    <h1>Lead Project Manager</h1>
                {% endblock header %}
                {% block account %}
                {% endblock account %}
                <nav>
                    {% block nav %}
                       {% include 'nav.html' %}
                    {% endblock nav %}
                </nav>
            </header>
            <aside>
                {% block aside %}
                <article>vote
                    aside
                </article>
                {% endblock aside %}
            </aside>
                {% block content %}
                    <section id='itens'>
                    </section>
                {% endblock content %}
            <footer>
                {% block footer %}
                footer
                {% endblock footer %}
            </footer>
        </section>
    </body>
    <script src="{{ STATIC_PREFIX }}js/jquery-1.5.2.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/django.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/ned6byg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block js %}
    {% endblock js %}
</html>
